@model GigHub.ViewModels.GigDetailsViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gig-details" class="gig-details">
    <h2>
        @Model.ArtistName
        @if (User.Identity.IsAuthenticated)
        {
            <button data-artist-id="@Model.ArtistId" 
                    class="btn @(Model.Following ? "btn-info" : "btn-default")
                    btn-sm follow-link js-toggle-following">
                    @(Model.Following ? "Following" : "Follow")
            </button>
        }
    </h2>

    <div>
        Performing at @Model.Venue on @Model.DateTimeString
    </div>


    @if (Model.Going)
    {
        <p>You are going to this event.</p>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            GigDetailsController.init("#gig-details");
        })
    </script>
}